<a href="https://colab.research.google.com/github/2303a52192/AIML_2303A52192/blob/main/2303A52192_Q25_B34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Prediction of south Indian travel Destinations using holiday data

In [ ]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler


df = pd.read_csv('/content/buddymove+data+set.zip')

1. Identify the top 5 attributes for South India destinations

In [ ]:
numeric_df = df.select_dtypes(include=np.number)

top_5_attributes = numeric_df.mean().sort_values(ascending=False).head(5)
print("Top 5 attributes for South India destinations:")
print(top_5_attributes)

Top 5 attributes for South India destinations:
Nature       124.518072
Picnic       120.401606
Theatre      116.377510
Shopping     112.638554
Religious    109.779116
dtype: float64

2. Identify the attribute with the most liked travel spots

In [ ]:
most_liked_attribute = top_5_attributes.idxmax()
print(f"\nAttribute with the most liked travel spots: {most_liked_attribute}")

Attribute with the most liked travel spots: Nature

3. Find the max and min attributes of choice for South India tourism

In [ ]:
numeric_df = df.select_dtypes(include=np.number)

max_min_attributes = numeric_df.mean().sort_values(ascending=False)
print("\nMax and Min attributes for South India tourism:")
print(f"Max: {max_min_attributes.idxmax()} with score {max_min_attributes.max()}")
print(f"Min: {max_min_attributes.idxmin()} with score {max_min_attributes.min()}")

Max and Min attributes for South India tourism:
Max: Nature with score 124.51807228915662
Min: Sports with score 11.987951807228916

4. Role of beaches, theatres, malls, and parks in South India tourism

In [ ]:
print(df.columns)
tourism_roles = df[['Sports', 'Religious', 'Nature', 'Theatre', 'Shopping', 'Picnic']].mean()
print("\nRole of beaches, theatres, malls, and parks in South India tourism:")
print(tourism_roles)

Index(['User Id', 'Sports', 'Religious', 'Nature', 'Theatre', 'Shopping',
       'Picnic'],
      dtype='object')

Role of beaches, theatres, malls, and parks in South India tourism:
Sports        11.987952
Religious    109.779116
Nature       124.518072
Theatre      116.377510
Shopping     112.638554
Picnic       120.401606
dtype: float64

5. Identify the sports with the most attributes in South India

In [ ]:
sports_attributes = df['Sports'].mean()
print(f"\nSports score (average): {sports_attributes}")

Sports score (average): 11.987951807228916

6. Apply either Classification or Clustering Model to evaluate the dataset

In [ ]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df.iloc[:, 1:])

kmeans = KMeans(n_clusters=3, random_state=42)
clusters = kmeans.fit_predict(scaled_data)

df['Cluster'] = clusters
print("\nClusters assigned to the data:")
print(df['Cluster'].value_counts())

Clusters assigned to the data:
Cluster
2    114
0     79
1     56
Name: count, dtype: int64